node_modules/@foile/crypto-pay-api
node_modules/dotenv
node_modules/mongodb
node_modules/mongoose
node_modules/node-cron
node_modules/node-telegram-bot-api
node_modules/nodemon
node_modules/pm2
node_modules/settings